*{
  font-family: "Oswald", sans-serif;
  font-style: normal;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}
title{
  display: none;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
footer{
    background-color: #000;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
}
header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 35px;
  color: #fff;
}
.title{
  font-size: 24px;

    display: flex;
}
.credits{
  font-size: 9px;
    display: flex;
  font-weight: bold;
}
main{
    display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #000f2e;
  width: 100%;
  min-height: 100vh;
}
.card{
  border-radius: 8px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 180px;
  background-color: #008060;
  color: #dedede;
}
.card:hover{
  box-shadow: 0  0 20px #888;
}
.back{
  display: none;
}
.front{
  display: block;
}
.cgg{
  gap: 10px;
  display: flex;
  flex-direction: row;

}